/build/
/dist/
/JaskBill/dbg/
/JaskBK/dbg
/sanedit/build/
/sanedit/dist/
/sanedit/__pycache__/
/dbg
/sanedit/dbg
/sanedit/data
/sanedit/dist
/sanedit/warriors
/sanedit/ui
/warriors
/sanedit2/dist
/sanedit2/build
/sanedit2/__pycache__